@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
  padding :0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #f6d467;
}

.container {
  background-color: white;
  max-width: 80%;
  height: 900px;
  margin: 50px auto;
  border-radius: 8px;
  overflow: scroll;
  box-shadow: 10px 0 30px rgba(0,0,0,0.1),10px 0 30px rgba(0,0,0,0.1);
}

.header {
  height: 80px;
  box-shadow: 0px -4px 30px rgba(0,0,0,0.15);
}

.header h4 {
  text-align: center;
  height: 100%;
  color: #F2774B;
  font-size: 2em;
  position: relative;
  top: 20px;
}

.content {
    overflow: scroll;
}

.content {
  padding: 50px;
}

.content p {
  text-align: left;
margin: 10px;
}

.content ul {
  margin-left: 10%;
}